<div class="container-fluid">
	<div class="row" ng-show="!loaded">
		<div class="col-xs-12">
			<div class="progress">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%">
			    <span class="sr-only">Carregando resultados...</span>
			  </div>
			</div>
			<div class="text-center">
				Carregando resultados encontrados. Aguarde...
			</div>
			<br /><br />
		</div>
	</div>
</div>
<div class="container-fluid" ng-show="loaded">
	<div class="row">
		<div class="col-xs-12">
			<div ng-show="updated_at" class="alert alert-warning">
				<p>Última atualização: {{helper.formatDate(updated_at, 'DD/MM/YYYY HH:MM:SS')}}</p>
			</div>
			<div class="alert alert-info">
				<ul>
					<li><strong>Ligue para imobiliária</strong> para confirmar se imóvel ainda está disponível. A maioria delas não remove apartamento da listagem, mesmo se estiver já em processo de locação.</li>
					<li><strong>Nenhuma faz visita acompanhada.</strong> Ou seja, você tem que ir na imobiliária pegar a chave, visitar e depois voltar entregar.</li>
					<li>As imobiliárias são chatas com horário de visitação. Recomendado ir entre 8:00 - 11:00 / 13:00 - 16:00. Depois desse horário dificilmente irão dar as chaves pra visitação.</li>
					<li>No processo de locação será pedido o <strong>SPC Imobiliário seu e de seu fiador</strong>. Valor é aprox. 20,00 cada um. Recomendo antes verificar se estão mesmo no SPC para não gastar tirando documento a toa.</li>
					<li>
						Banco do Brasil está oferecendo uma modalidade de CAP, chamado <strong><a href="http://www.brasilcap.com.br/brasilcap/produtos/cap-fiador/para-cliente.htm" target="_blanl">CAP Fiador</a></strong>, o que pode ser uma saída para quem não possui fiador ou o fiador não bate nos critérios.
					</li>
					<li>Ao alugar o imóvel, <strong>SEMPRE</strong> verifique a vistoria. Imobiliárias fazem de qualquer jeito e você precisará ser <strong>bem chato e detalhista</strong> na contestação da vistoria para não pagar pato depois.
					</li>
				</ul>
			</div>
			<h4>Filtros</h4>
			<div class="form-inline">
				<div class="form-group">
					<label for="filter-type">Tipo</label>
					<select id="filter-type" class="form-control" name="type">
						<option value="0">-- Todos --</option>
						<option value="1">Apartamento</option>
						<option value="2">Casas ou Sobrados</option>
						<option value="3">Residenciais</option>
					</select>
				</div>
				<div class="form-group">
					<label for="filter-rooms">Quartos</label>
					<select id="filter-rooms" class="form-control" name="rooms">
						<option value="0">-- Todos --</option>
						<option value="1">1 Quarto</option>
						<option value="2">2 Quartos</option>
						<option value="3">3 Quartos</option>
					</select>
				</div>
				<div class="form-group">
					<label for="filter-price-min">Valor</label>
					<select id="filter-price-min" class="form-control" name="rooms">
						<option value="0">-- Todos --</option>
						<option ng-repeat="price in range_prices_list" value="{{price}}">{{helper.formatCurrencyBRL(price)}}</option>
					</select>
					<label for="filter-price-max">até</label>
					<select id="filter-price-max" class="form-control" name="rooms">
						<option value="0">-- Todos --</option>
						<option ng-repeat="price in range_prices_list" value="{{price}}">{{helper.formatCurrencyBRL(price)}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="filter-real-state">Imobiliária</label>
					<select id="filter-real-state" class="form-control" name="real_state">
						<option value="0">-- Todas --</option>
						<option ng-repeat="item in real_state_list" value="{{item.id}}">{{item.name}}</option>
					</select>
				</div>
				<a href="#" class="btn btn-primary" ng-click="filterResults()">Filtrar</a>
			</div>
		</div>
	</div>
	<hr />
	<table class="table table-striped table-condensed" ng-show="result && result.length">
		<thead>
			<tr>
				<th>Foto</th>
				<th>Dados</th>
				<th>Suítes</th>
				<th>Quartos</th>
				<th>Total Quartos</th>
				<th>Imobiliária</th>
			</tr>
		</thead>
		<tbody>
			<tr valign="top" ng-repeat="row in result" ng-init="realStateAgency=searchRealStateAgency(row.dealer)">
			    <td width="120">
				  	<figure>
						<a href="http://www.sub100.com.br{{row.url}}">
					  		<img lazy-img="{{row.picture}}" alt="" />
						</a>
				  	</figure>
		  		</td>
			  	<td>
					<strong>{{row.type}}</strong><br />
					  {{row.location}}<br />
					  {{row.street}}<br />
					<strong>{{helper.formatCurrencyBRL(row.price)}}<br /></strong>
			  	</td>
			  	<td>{{row.suites}}</td>
			  	<td>{{row.rooms}}</td>
			  	<td width="50" class="text-center">{{row.rooms_total}}</td>
			  	<td width="200">
				  	{{realStateAgency.name + realStateAgency.rigorous}}<br />
					<strong>{{realStateAgency.phone}}</strong>
			  	</td>
			</tr>
		</tbody>
	</table>
	<div class="container">
	  <div class="alert alert-danger" ng-show="loaded && (!result || !result.length)">
		<p>Sem resultados encontrados.</p>
	  </div>
	  <div class="alert alert-info" ng-show="result && result.length">
		<p>
		  <strong>Imobiliárias</strong><br />
		  * - dependendo do valor do imóvel x renda do fiador precisará de mais 1 imóvel/fiador para locação <br />
		  ** - análise muito exigente para 1 fiador, <strong>probalidade baixa</strong> de locação com apenas 1 imóvel<br />
		</p>
	  </div>
	</div>
</div>
